<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<dubbo:application name="octopus-provider"></dubbo:application>
	
	
	<bean id="S2001300000106" class="com.xbeer.provider.S2001300000106impl"></bean>
	<dubbo:registry address="zookeeper://127.0.0.1:2181"></dubbo:registry>
	<dubbo:protocol name="dubbo" port="20880" threadpool="cached"
		threads="10"></dubbo:protocol>
	<dubbo:service delay="-1"
		interface="com.xbeer.api.service.inter.S2001300000106" ref="S2001300000106"
		version="1.0.0" group="diamond" retries="3" timeout="3000"></dubbo:service>
		
	<bean id="connectorBancs" class="com.xbeer.connector.TcpShortConnector">
		<constructor-arg value="BancsConnector" />
		<constructor-arg value="127.0.0.1" />
		<constructor-arg value="7999" />
		<constructor-arg value="utf-8" />
		<property name="factory" ref="connectorFactory" />
		
		
	</bean>
	<bean id='connectorFactory' class="com.xbeer.connector.ConnectorFactory"></bean>
</beans>